@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}
.banner .container img{
    width: 100%;
    height: 100%;
}
.banner .container .logo{
    position: absolute;
    height: 50px;
    width: 70px;
    top: 70px;
    left:50px;
    z-index: 10;
}

.banner .container h1{
    font-family: 'Montserrat', sans-serif;
    position: absolute;
    left: 130px;
    top: 50px;
    font-size: 40px;
    font-weight: 500;
    color: #fff;
    z-index: 10;
    font-weight: bold;
}

.banner .container p{
    font-family: 'Montserrat', sans-serif;
    position: absolute;
    left: 50px;
    top: 25%;
    font-size: 50px;
    font-weight: 300;
    color: #fff;
    z-index: 10;
    font-weight: 600;
}

.banner .container input{
    padding: 0 10px 0 20px;
    position: absolute;
    left: 50px;
    top: 50%;
    width: 18%;
    height: 50px;
    border-radius: 25px;
    border: 1px solid #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 300;
    color: black;
    z-index: 10;
}
.banner .container p span{
    font-family: 'Montserrat', sans-serif;
    color: #4EA5D9;
}

.banner .container .nav-box{
    position: relative;
    top: -72px;
    height: 70px;
    background-image: linear-gradient(270deg, rgba(34, 72, 112, 0.68) 62.05%, rgba(34, 72, 112, 0) 85.22%);
}

.banner .container .nav-box .nav-bar ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    float: right;
}

.banner .container .nav-box .nav-bar ul li{
    display: inline-block;
    padding: 0px;
    margin: 0px;
    font-size: 20px;
    padding-right: 60px;
    padding-top: 20px;
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: 400;
}

.banner .container .nav-box .nav-bar ul li a{
    color: #fff;
    text-decoration: none;
    padding: 0px;
    margin: 0px;
    padding-bottom: 20px;
    background-position-y: calc(100% - 5px);
}

.banner .container .nav-box .nav-bar ul li a:hover{
    color: #fff;
    text-decoration: underline;
    text-underline-offset: 24px;
    text-decoration-thickness: 20%;
}

.image-box .square{
    position: absolute;
    width: 50%;
    height: 120%;
    left: -290px;
    top: -180px;
    background: rgba(34, 72, 112, 0.85);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius:20%;
    -ms-transform: rotate(20deg); /* IE 9 */
  transform: rotate(45deg);
    z-index: 9;
}

.brandlocation{
    min-height: 80vh;
}

.brandlocation img{
    width: 45%;
    height: 50%;
    padding: 100px;
    float: left;
}

.brandlocation h2{
    padding-top: 200px;
    padding-bottom: 50px;
    font-size: 60px;
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: 700;
    color: #9F7741;
    margin-top: 0px;
    margin-bottom: 0px;
}

.brandlocation p{
    font-family: Montserrat;
    font-size: 25px;
    line-height: 30px;
    text-align: justify;
    padding-top: 100px;
    font-size: 1.5rem;
    font-weight: 500;
    color: #224870;
    margin-top: 1rem;
    display: inline;
}
.background{
    position: relative;
    text-align: center;
}

.background img{
    position: relative;
    text-align: center;
    width: 100%;
    height: 100%;
}

.text-block h1{
    position: absolute;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    line-height: 73px;
    font-size: 60px;
    color: #F7F9F9;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.background .facility {
    position: relative;
    width: 90%;
    z-index: 10;
    bottom: 550px;
}

.text-block p{
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 30px;
    color: #F7F9F9;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    position: absolute;
    transform: translate(-50%, -50%);
    text-align: center;
    top: 18%;
    left: 50%;
}


  
